stockimport_fix.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema">
<wsdl:types>
<s:schema targetNamespace="http://tempuri.org/" elementFormDefault="qualified">
<s:element name="InventoryImport">
<s:complexType>
<s:sequence>
<s:element name="items" type="tns:ArrayOfLQUA_OUT_ITEM" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="ArrayOfLQUA_OUT_ITEM">
<s:sequence>
<s:element name="LQUA_OUT_ITEM" type="tns:LQUA_OUT_ITEM" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
</s:sequence>
</s:complexType>
<s:complexType name="LQUA_OUT_ITEM">
<s:sequence>
<s:element name="LENUM" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="MATNR" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="VERME" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="MEINS" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="LGNUM" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="LETYP" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="Lane" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="Shelf" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="Level" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="LGPLA" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="WDATU" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="SKZUA" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="LQNUM" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="LGTYP" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="Erase" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="ZZ_TRANS_LE" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="SpecialStock" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="Virtual" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="MKPF_BWART" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="BESTQ" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="LGORT" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
<s:element name="InventoryImportResponse">
<s:complexType>
<s:sequence>
<s:element name="InventoryImportResult" type="tns:RESULT" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="RESULT">
<s:sequence>
<s:element name="ErrCode" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="ErrDescription" type="s:string" maxOccurs="1" minOccurs="0"/>
<s:element name="KeyField" type="s:string" maxOccurs="1" minOccurs="0"/>
</s:sequence>
</s:complexType>
</s:schema>
</wsdl:types>
<wsdl:message name="InventoryImportSoapIn">
<wsdl:part name="parameters" element="tns:InventoryImport"/>
</wsdl:message>
<wsdl:message name="InventoryImportSoapOut">
<wsdl:part name="parameters" element="tns:InventoryImportResponse"/>
</wsdl:message>
<wsdl:portType name="WsiTransferOrderSoap">
<wsdl:operation name="InventoryImport">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">InventoryImport version 1.0.0</wsdl:documentation>
<wsdl:input message="tns:InventoryImportSoapIn"/>
<wsdl:output message="tns:InventoryImportSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="WsiTransferOrderSoap" type="tns:WsiTransferOrderSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="InventoryImport">
<soap:operation style="document" soapAction="http://tempuri.org/InventoryImport"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="WsiTransferOrderSoap12" type="tns:WsiTransferOrderSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="InventoryImport">
<soap12:operation style="document" soapAction="http://tempuri.org/InventoryImport"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="WsiTransferOrder">
<wsdl:port name="WsiTransferOrderSoap" binding="tns:WsiTransferOrderSoap">
<soap:address location="http://10.28.1.21/AseEPTALGWSAPI/soapws/aseprivate/WsiTransferOrder.asmx"/>
</wsdl:port>
<wsdl:port name="WsiTransferOrderSoap12" binding="tns:WsiTransferOrderSoap12">
<soap12:address location="http://10.28.1.21/AseEPTALGWSAPI/soapws/aseprivate/WsiTransferOrder.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
